body{
    background-color: cadetblue;
}
h1{
    color: greenyellow;
    text-align: center;
    justify-content: center;
}
h2{
    color: blue;
}
.color-h2{
    color: greenyellow ;
    text-align: center
}
.importante{
    font-weight: bold;
}
.imagen {
    width: 250px;
    height: 300px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }